<style>
	.games {
		width: 100%;
	}
	.games tbody tr:nth-child(odd) {
		background: var(--bg-softer);
	}
	.games tbody tr:hover {
		background: var(--bg-soft);
	}
	.games tbody tr {
		height: 3.9rem;
	}
	.games tbody td:nth-child(1) {
		width: 20%;
		text-align: center;
		font-size: 0.9rem;
		color: var(--fg-soft);
	}
	.games tbody td:nth-child(2), td:nth-child(3) {
		width: 32%;
	}
	.games tbody td:nth-child(4) {
		text-align: center;
	}
	.games tbody td:nth-child(5) {
		text-align: center;
	}
	.games th {
		text-align: left;
		border-bottom: 1px solid var(--border);
		padding: 0.3em;
	}
	.games .team > div {
		padding: 2px 0 2px 8px;
	}
	.games .team > div a {
		color: unset;
		text-decoration: none;
	}
	.games .delete-btn {
		border: none;
		font-size: 22px;
		background: none;
		cursor: pointer;
	}
	.games .delete-btn:hover {
		color: var(--primary);
	}
</style>

<table class="games">
	<thead>
		<tr>
			<th style="text-align: center">Date</th>
			<th>Team <i class="ph-fill-if-dark ph-users"></i></th>
			<th>Team <i class="ph-fill-if-light ph-users"></i></th>
			<th style="text-align: center">Score</th>
			<th></th>
		</tr>
	</thead>
	<tbody hx-target="closest tr" hx-swap="delete">
	  {% for g in games %}
		<tr>
			<td>{{ g.timestamp|pretty_timestamp(now()) }}</td>
			<td class="team">
				{% if g.defense_a == g.offense_a %}
				<div><i class="ph ph-user"></i> <a href="/player/{{ g.defense_a }}">{{ player_name[g.defense_a] }}</a></div>
				{% else %}
				<div><i class="ph ph-shield"></i> <a href="/player/{{ g.defense_a }}">{{ player_name[g.defense_a] }}</a></div>
				<div><i class="ph ph-sword"></i> <a href="/player/{{ g.offense_a }}">{{ player_name[g.offense_a] }}</a></div>
				{% endif %}
			</td>
			<td class="team">
				{% if g.defense_a == g.offense_a %}
				<div><i class="ph ph-user"></i> <a href="/player/{{ g.defense_b }}">{{ player_name[g.defense_b] }}</a></div>
				{% else %}
				<div><i class="ph ph-shield"></i> <a href="/player/{{ g.defense_b }}">{{ player_name[g.defense_b] }}</a></div>
				<div><i class="ph ph-sword"></i> <a href="/player/{{ g.offense_b }}">{{ player_name[g.offense_b] }}</a></div>
				{% endif %}
			</td>
			<td>{{ g.score_a }} : {{ g.score_b }}</td>
			<td>
				{% if g.timestamp > delete_timestamp_threshold %}
					<button class="ph ph-trash delete-btn" hx-delete="/api/game/delete/{{ g.id }}"></button>
				{% endif %}
			</td>
		</tr>
	  {% endfor %}
	</tbody>
</table>

{% if not games %}
<p style="margin-top: 50px; color: var(--fg-softer)">Be the first to play!</p>
{% endif %}
