{% extends "base.html" %}

{% block head %}
<title>wuzzln - Leaderboard</title>

<style>
	.leaderboard {
		width: 100%;
	}

	/* row color */
	.leaderboard tbody tr:nth-child(odd) {
		background: var(--bg-softer);
	}
	.leaderboard tbody tr:hover {
		background: var(--bg-soft);
		transition: background-color 0.05s ease;
	}

	/* row size */
	.leaderboard tbody tr { font-size: 0.8rem; }
	.leaderboard tbody tr:nth-child(-n + 9) { font-size: 1rem; }
	.leaderboard tbody tr:nth-child(-n + 3) { font-size: 1.5rem; }

	/* rank column */
	.leaderboard th:nth-child(1), td:nth-child(1) {
		text-align: center;
		width: 60px;
	}
	/* name column */
	.leaderboard th:nth-child(2), td:nth-child(2) {
		text-align: left;
	}
	/* rating column */
	.leaderboard th:nth-child(3), td:nth-child(3) {
		text-align: center;
		width: 90px;
	}
	.leaderboard td:nth-child(3) {
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: help;
	}
	.leaderboard .emblem {
		flex: 50%;
	}
	.leaderboard .emblem img {
		height: 1.2em;
		vertical-align: middle;
		margin-bottom: 1px;
	}
	.leaderboard .skill {
		flex: 50%;
		text-align: left;
	}
	/* diff column */
	.leaderboard th:nth-child(4), td:nth-child(4) {
		text-align: center;
		width: 60px;
	}
	.leaderboard td:nth-child(4) {
		font-size: max(0.8rem, 0.8em);
	}

	.leaderboard th {
		border-bottom: 1px solid var(--border);
		padding: 0.3em 0 0.3em 0;
	}
	td {
		padding: 0.3em 0 0.3em 0;
	}
	td a {
		display: block;
		height: 100%;
		color: unset;
		text-decoration: none;
	}

	.leaderboard .badge {
		cursor: help;
		margin-left: 0.2em;
	}

	/* faster tooltip show */
	[data-tooltip]:hover::before {
		transition: opacity 0.02s ease 0.01s;
	}

</style>
{% endblock head %}

{% block main %}
<table class="leaderboard">
	<thead>
		<tr>
			<th>Rank</th>
			<th>Name</th>
			<th style="cursor: help" data-tooltip="Ratings are calculated using TrueSkill 1">Rating</th>
			<th>+/-</th>
		</tr>
	</thead>
	<tbody>
	  {% for e in leaderboard.values() %}
		  <tr>
			  <td>{{ loop.index }}</td>
			  <td>
				  <a href="/player/{{ e.player }}">
					  {{ e.name }}
					  {% for b in e.badges %}
					  <span class="badge" data-tooltip="{{ b.description }}">{{ b.emoji }}</span>
					  {% endfor %}
				  </a>
			  </td>
			  <td>
				  <div class="emblem"><img src="/img/rank/{{ e.rank.name|lower }}.png"></div>
				  <div class="skill" data-tooltip="{{ e.skill_defense|round(1) }} | {{ e.skill_offense|round(1) }}">{{ e.skill_all|round|int }}</div>
			  </td>
			  <td>
				  {% if e.skill_diff|round(1) != 0 %}
					  <span style="color: {% if e.skill_diff > 0 %}#3b752f{% else %}#a63f3f{% endif %}">
						  {% if e.skill_diff > 0 %}+{% endif %}{{ e.skill_diff|round(1) }}
					  </span>
				  {% endif %}
			  </td>
		  </tr>
	  {% endfor %}
	</tbody>
</table>
{% endblock main %}
