{% extends "base.html" %}

{% block head %}
<title>wuzzln - {{ name }}</title>

<style>
	.profile {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		row-gap: 12px;
	}

	h1 {
		margin: 0 0 40px 0;
	}

	.level {
		background: var(--bg-softer);
		width: 160px;
		height: 140px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		row-gap: 5px;
		border-radius: var(--radius);
	}

	.level .title {
		color: var(--fg-softer);
		cursor: help;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 5px;
	}

	.level .value {
		font-size: 2rem;
	}

</style>

{% endblock head %}

{% block main %}

<section class="profile">
	<img style="height: 64px" src="/img/rank/{{ rank.name|lower }}.png">
	<h1>{{ name }}</h1>

	<div style="display: flex; flex-direction: row; justify-content: center; gap: 20px; flex-wrap: wrap;">
		<div class="level">
			<span class="value">{{ defense_skill|round(1) }}</span>
			<span class="title" data-tooltip="Current defense rating">
				<i class="ph ph-shield"></i> Defense
			</span>
		</div>
		<div class="level">
			<span class="value">{{ offense_skill|round(1) }}</span>
			<span class="title" data-tooltip="Current offense rating">
				<i class="ph ph-sword"></i> Offense
			</span>
		</div>
		<div class="level">
			<span class="value">{{ season_games }}</span>
			<span class="title" data-tooltip="Number of games this season">
				<i class="ph ph-soccer-ball"></i> Season Games
			</span>
		</div>
	</div>
</section>

{% endblock %}
