{% extends "base.html" %}

{% block head %}
<title>wuzzln - Wrapped</title>

<style>
	section {
		margin: 10px 0 80px 0;
	}

	.preamble {
		text-align: center;
	}

	.grid {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
	}

	.kpi {
		width: 160px;
		display: flex;
		flex-direction: column;
		justify-content: stretch;
		align-items: center;
		row-gap: 5px;
	}

	.kpi .title {
		color: var(--fg-softer);
		font-size: 0.9rem;
		text-align: center;
	}

	.kpi .value {
		display: flex;
		flex-direction: row;
		gap: 5px;
		align-items: center;
	}

	.kpi .value .absolute {
		font-size: 2rem;
	}

	.kpi .value .diff {
		font-size: 0.75rem;
		color: var(--fg-softer);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.placing {
		width: 120px;
		display: flex;
		flex-direction: column;
		justify-content: end;
		align-items: center;
	}

	.placing .medal {
		border-radius: 100%;
		background: var(--bg-softer);
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px dashed var(--fg-softest);
	}

	.placing .player {
		margin-top: 10px;
		font-weight: 500;
	}

	.placing .rating {
		margin-top: 5px;
		color: var(--fg-soft);
		display: flex;
		flex-direction: row;
		gap: 8px;
		font-size: 0.85rem;
	}

	.placing .rating > div {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 2px;
	}

	.award {
		width: 160px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: stretch;
	}

	.award .emoji {
		font-size: 3rem;
		position: relative;
		bottom: -15%;
	}

	.award .content {
		width: 150px;
		flex-grow: 1;
		padding: 36px 10px 20px 10px;
		background: var(--bg-softer);
		border-radius: var(--radius);
		display: flex;
		flex-direction: column;
		justify-content: top;
		align-items: center;
	}

	.award .content .title {
		font-weight: bold;
		color: var(--fg-soft);
		margin-bottom: 5px;
	}

	.award .content .player {
		text-align: center;
		font-style: italic;
		margin-bottom: 10px;
		color: unset;
		text-decoration: none;
	}

	.award .content .description {
		color: var(--fg-softer);
		text-align: center;
		line-height: 1.3;
	}
</style>

{% endblock head %}

{% block main %}

<section>
	<p class="preamble">Another quarter is over, we're now <i>{{ season_count }} season{% if season_count > 1 %}s{% endif %}</i> in!</p>
	<p class="preamble">To finish this season, we tracked the most important <i>KPIs</i> this quarter just for <i>you</i></p>
	<div class="grid" style="margin-top: 50px; row-gap: 35px;">
		{% for kpi in kpis %}
		<div class="kpi">
			<div class="value">
				<div class="absolute">{{ kpi.value }}</div>
				<div class="diff" style="color: var(--fg-{% if kpi.diff_relative < 0 %}red{% else %}green{% endif %}">
					<i class="ph ph-trend-{% if kpi.diff_relative < 0 %}down{% else %}up{% endif %}"></i>
					{% if kpi.diff_relative > 0 %}+{% else %}-{% endif %}{{ (kpi.diff_relative*100)|round|int|abs }}%
				</div>
			</div>
			<div class="title">{{ kpi.title }}</div>
		</div>
		{% endfor %}
	</div>
</section>

<section>
	<p class="preamble">... this website being first and foremost a leaderboard, here are the <i>top players</i> ...</p>
	<div class="grid" style="margin-top: 50px; gap: 5px;">
		{% if placing|length > 1 %}
		<div class="placing">
			<div class="medal" style="width: 4rem; height: 4rem; font-size: 2.7rem;">🥈</div>
			<div class="player" style="font-size: 1.2rem">{{ player_name[placing[1].player] }}</div>
			<div class="rating">
				<div><i class="ph ph-shield"></i>{{ placing[1].skill_defense|int }}</div>
				<div><i class="ph ph-sword"></i>{{ placing[1].skill_offense|int }}</div>
			</div>
		</div>
		{% endif %}
		{% if placing|length > 0 %}
		<div class="placing">
			<div class="medal" style="width: 5rem; height: 5rem; font-size: 3.7rem;">🥇</div>
			<div class="player" style="font-size: 1.2rem">{{ player_name[placing[0].player] }}</div>
			<div class="rating">
				<div><i class="ph ph-shield"></i>{{ placing[0].skill_defense|int }}</div>
				<div><i class="ph ph-sword"></i>{{ placing[0].skill_offense|int }}</div>
			</div>
		</div>
		{% endif %}
		{% if placing|length > 2 %}
		<div class="placing">
			<div class="medal" style="width: 3rem; height: 3rem; font-size: 1.7rem;">🥉</div>
			<div class="player" style="font-size: 1.2rem">{{ player_name[placing[2].player] }}</div>
			<div class="rating">
				<div><i class="ph ph-shield"></i>{{ placing[2].skill_defense|int }}</div>
				<div><i class="ph ph-sword"></i>{{ placing[2].skill_offense|int }}</div>
			</div>
		</div>
		{% endif %}
	</div>
</section>

<section>
	<p class="preamble">... but there are also many other noteworthy <i>individual performances</i> ...</p>
	<div class="grid" style="column-gap: 25px;">
		{% for award in awards %}
		<div class="award">
			<span class="emoji" >{{ award.emoji }}</span>
			<div class="content">
				<span class="title">{{ award.title }}</span>
				<span class="player">{% for p in award.players %}{{ player_name[p] }}{% if not loop.last %} & {% endif %} {% endfor %}</span>
				<span class="description">{{ award.description }}</span>
			</div>
		</div>
		{% endfor %}
	</div>
</section>

<section>
	<p class="preamble">... thank you for playing and see you in the <i>next season</i> 👋</p>
</section>

{% endblock %}
